/* styles.css - comment */
/* new comment */
h1 {
    color: black;
}

#todays_topic {
    color: #355;
}

#today_date {
    color: hsl(217, 100, 41);
}

#agenda {
    color: rgb(255, 244, 36);
    background-color: darkslategrey;
}

