@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* styles.css - comment */
/* new comment */
* {
    font-family: 'Share Tech Mono', monospace;;
}

h1 {
    color: black;
}

#todays_topic {
    color: #355;
}

#today_date {
    color: hsl(217, 100, 41);
}

#agenda {
    color: rgb(255, 244, 36);
    background-color: darkslategrey;
}

#diagram_image {
    border-top: 10px;
    border-bottom: 10px;
    border-left: 10px;
    border-right: 10px;
    border-style: double;
    border-color: #355;
    border-width: thick;
    border-radius: 10px;

    margin-top: 7.5pt;
    margin-bottom: 7.5pt;
    margin-left: 7.5pt;
    margin-right: 7.5pt;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    width: 90mm;
    height: 60mm;
    max-width: 90mm;
    min-width: 30mm;

    position: static;

}

#video_id {
    border: 10px 10px 10px 10px;
    border-style: dashed double dashed;
    border-color: #355;
    border-width: medium;
    border-radius: 10px;
    margin: 0, 10px, 10px, 10px;
    padding: 1em;
}

#audio_id {
    margin: auto;
    position: relative;
    left: 30px;
}

nav {
    color: darkgrey;
    display: inline-block;
}

#attendance_list {
    color: cadetblue;
    display: block;
}

button:hover {
    background-color:darkkhaki;
}

button:active {
    box-shadow: 2px 2px 4px darkgrey;
}

#new_business {
    display: flex;
    justify-content: center;
    flex-shrink: 3;
    gap: 30px

}

form {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 3px;
}

@media (max-width: 770px) {
    #agenda {
        background-color: cornflowerblue;
    }
}

#last_meeting_header, #new_business_header {
    color: #355;
}

.last_meeting {
    color:slategrey;
}

input[type="text"] {
    background-color:lightsteelblue;
}

.last_meeting h3 {
    background-color: beige;
    font-size: 3ex;
}

summary ~ p {
   background-color: gainsboro;
   font-size: 1.2rem;
}

p + p {
    color: darkslateblue;
}

section > h3 {
    text-decoration: underline;
}

input[type="checkbox"] + label {
    color:indianred;
}
